@charset "utf-8";
/* CSS Document */

body{
	background-color: #111;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	overflow-x: hidden;
	font-size: 100%;
	color: #fff;
	height: 100%;
}

a{
	color: #fff;
	text-decoration: none;
}

#wrapper{
	min-height: 100%;
	position: relative;
	z-index: 10;
	width: 85%;
	margin: auto;
	-webkit-perspective: 2000;
}

#background{
	background-color: #111;
	background-image: url('../images/backgrounds/background.php');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-indent: -9999em;
	z-index: 0;
}

#tablet{
	display: none;
}

header{
	z-index: 10;
	position: relative;
	top: 3em;
	width: 18em;
	background-color: transparent;
	background-image: url('../images/section.png');
	padding-bottom: 1em;
}

header p{
	margin: 0 0 0.5em 3em;
}

nav ul{
	list-style-type: none;
	padding: 1em 0 0 0;
}

nav li{
	padding: 0;
	margin: 0;
}

nav li a{
	display: block;
	padding: 0.2em 0 0.2em 1em;
	font-size: 2em;	
	color: #fff;
	text-decoration: none;
}

nav li a:hover{
	background-image: url('../images/opacity.png');
}

nav li ul{
	display: none;
	margin: 0;
	padding: 0 0 0.5em 0;
}

nav li li a{
	display: block;
	padding: 0 0 0.2em 3em;
	font-size: 1em;	
	color: #fff;
	text-decoration: none;
}

.ignore{
	display: block;
}

#main{
	z-index: 10;
	position: absolute;
	top: 3em;
	right: 1em;
	text-shadow: 0 0 5px #333;
}

#main h1{
	margin: 0;
	font-size: 4em;
	position: relative;
	padding-bottom: 0.2em;
}

#main h1 .small{
	font-size: 0.333em;
	position: absolute;
	left: 0;
	bottom: 0;
}

footer{
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 85%;
	z-index: 10;
}

#footer-content{
	position: relative;
	left: -50%;
	height: 2.5em;
	background-color: transparent;
	background-image: url('../images/section.png');
	font-size: 1em;
	text-align: right;
	padding: 1em 2em 0 0;
	color: #ccc;
	letter-spacing: 1px
}

/* TABLET CONTENT */
@media (max-width: 1024px){

	#background{
		background-size: auto 150%;
	}

	#main{
		right: 2em;
	}

	#main h1{
		font-size: 2.75em;
		position: relative;
		padding-bottom: 0.2em;
	}

	#main h1 .small{
		font-size: 0.333em;
		position: absolute;
		left: 0;
		bottom: 0;
	}
}

/* HANDHELD CONTENT */
@media (max-width: 768px){

	#background{
		display: none !important;
		opacity: 0;
	}

	body{
		background-image: url('../images/backgrounds/background.php');
		background-repeat: no-repeat;
		background-position: 50% -50px;
		background-size: auto 150%;
	}

	#wrapper, footer{
		width: 80%;
	}

	#main{
		display: none;
	}

	#tablet{
		display: block;
		margin: auto;
		width: 85%;
		text-align: center;
		text-shadow: 0 0 5px #333;
	}

	#tablet h1{
		font-size: 2.5em;
	}

	#tablet h1 .small{
		font-size: 0.5em;
	}

	header{
		width: 100%;
		top: 0.5em;
		left: inherit;
		margin: auto;
		text-align: center;
	}

	header p{
		margin-left: 0;
	}

	nav li a, nav li li a{
		padding-left: 0;
	}

	nav li p{
		width: 50%;
		margin: auto;
	}

	footer{
		clear: both;
		margin-top: 60px;
		position: relative;
		left: inherit;
		margin-left: auto;
		margin-right: auto;
	}

	#footer-content{
		text-align: center;
		padding-right: 0;
		height: 4em;
		left: inherit;
	}

	#footer-content span{
		display: block;
	}
}

/* REALLY SMALL CONTENT */
@media (max-width: 480px){
	#tablet h1{
		font-size: 1.5em;
	}

	#footer-content{
		font-size: 0.75em;
	}
}

/* DISAPPEARING FOOTER */
@media (max-height: 400px){
	footer{
		display: none;
	}
}